@media only screen and (min-width:767px) {
  header,nav{
    display: flex;
    max-width: 900px;
    margin:0 auto;
  }


  header{
    display: grid;
    grid-template-columns: 24px auto;
  }

.hamburger{
  display: none;
}


.navigation {
    display: block;
    
  }

 .navigation ul {
  display: flex;
  }

  .navigation a{
    border: none; 
  }


h2{
    
    color: var(--accent1-color);
  }

main{
  display: grid;
  max-width: 900px;
  margin:0  auto;
  grid-template-columns: 550px auto ;

}

.aboutme{
  margin-left: 1.5rem;
}


.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  
}

.studentphoto{
  margin-right: 2rem;
}

.photo img{
  margin-top: 3rem;
  width: 280px;
  height: 250px;
}

.certificate{
  width: 850px;
  margin: 0rem 1rem 1rem 1.5rem;
}

.certificate p{
  margin-top: 2rem;
}


#but{
  display: grid;
  grid-template-columns: 1fr 1fr 310px;
  margin-top: 2rem;
}



#but input{
  cursor: pointer;
}

#certifox{
  display: grid;
  grid-template-columns: 1fr 1fr 310px;
  gap: 30px ;

}


.courses{
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  justify-content: center;
  margin-top: 1.5rem;
  color: white;
  font-weight: bold;
  
  

}

.courses span{
  color: var(--secondary-color);
  border: solid 1px var(--primary-color);
  background-color:var(--primary-color);
  height: 60px;
  padding-top: 1rem;
  color: white;
  
 }



footer{
  
    max-width: 900px;
    margin:0rem auto;
    margin-top: 9rem;
  }
  
}
